html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.d-flex-center-y {
	display: flex;
	align-items: center;
}

.border-red {
	border: 1px solid red;
}

.height-100vh {
	height: 100vh;
}

.width-100 {
	width: 100%;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-white {
	color: whitesmoke;
}

.shadow {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(158, 158, 158, 0.45) !important;
	box-shadow: 0px 5px 15px 0px rgba(158, 158, 158, 0.45) !important;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}
